{% load static %}

<html lang="en">
  	<head>
    	<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <link rel="icon" href="../../favicon.ico">

	    <title>Adventure Lookup</title>

	    <!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

	    <!-- Custom styles for this template -->
		<link rel="stylesheet" type="text/css" href="{% static 'lookup/styles.css' %}" />
  	</head>

  	<body>

    	<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        		<span class="navbar-toggler-icon"></span>
      		</button>
      		<a class="navbar-brand" href="#">AL!</a>

      		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
        		<ul class="navbar-nav mr-auto">
          			<li class="nav-item active">
            			<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          			</li>
          			{% if user.is_authenticated %}
		      			<li><a class="nav-link" href="#">Welcome, {{ user.get_username }}</a></li>
          				{% if perms.lookup.can_add_adventure %}
			      			<li class="nav-item">
			        			<a class="nav-link" href="{% url 'add-adventure' %}">New Adventure</a>
			      			</li>
			      		{% endif %}
	 					<li><a class="nav-link" href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>		      			
		      		{% else %}
	          			<li class="nav-item">
	            			<li><a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Login</a></li>
	          			</li>
	          		{% endif %}
	        	</ul>
      		</div>
    	</nav>

		<!-- jumbo tron   -->	
 		<div class="jumbotron jumbotron-fluid bg-faded">
  			<div class="container text-center justify-content-center">
  				<div class="row">
	  				<div class="col text-right">
		    			<span class="align-middle">I am looking for an adventure with:</span>
	  				</div>
	  				<div class="col-lg-6">
					    <div class="input-group">
					    	<input type="text" class="form-control" placeholder="Goblins, puzzles, ...">
					      	<span class="input-group-btn">
					        	<button class="btn btn-secondary" type="button">Search!</button>
					      	</span>
					    </div>
					</div>
  				</div>
  			</div>
		</div> 
		<!-- /jumbo   -->

    	<div class="container-fluid">
      		<div class="row">
        		<form action="" method="get">
        			<legend>Filtering</legend>
        			{{ adventure_filter.form.as_p }}
      				<div class="form-group">
        				<button type="submit" class="btn btn-primary">Submit</button>
      				</div>
    			</form>

        		<main class="col-md-9 col-xs-11 p-l-2 p-t-2">
				{% for a in adventure_list %}
					<div class="container-fluid">		                    
						<div class="card card-default mb-5">		                	
		                	<div class="card-block">
			                    <h4><a href="adventures/{{ a.id }}">{{a.adv_title}} ({{a.id}} - {{a.submitted_by}})</a></h4>
			                    <hr>
			                    <div class="row">
			                        <div class="col py-3">
		    	                        <p class="card-text">{{a.adv_desc}}</p>
		            	            </div>
		                	    </div>

		                    </div>
	                    	<!-- Quick look info -->
		                    <div class="container row justify-content-center adv-info">
		                        <div class="col-2 text-center">
		                            <i class="fa fa-gear"></i>
	    	                        <p class="text-muted mb-2">System</p>
	        	                    <h6>{{a.system}}</h5>
	            	            </div>
		                        <div class="col-2 text-center">
		                            <i class="fa fa-users"></i>
		                            <p class="text-muted mb-2">Party Size</p>
		                            <h6>{{a.min_party_size}}-{{a.max_party_size}}</h5>
		                        </div>
		                        <div class="col-2 text-center">
		                            <i class="fa fa-flag"></i>
		                            <p class="text-muted mb-2">Level</p>
		                            <h6>{{a.min_level}}-{{a.max_level}}</h5>
		                        </div>
		                        <div class="col-2 text-center">
		                            <i class="fa fa-tree"></i>
		                            <p class="text-muted mb-2">Terrain</p>
		                            <h6>{{a.terrain}}</h5>
		                        </div>
		                        <div class="col-2 text-center">
		                            <i class="fa fa-file-o"></i>
		                            <p class="text-muted mb-2">Format</p>
		                            <h6>{{a.adv_availability}}</h5>
		                        </div>
		                        <div class="col-2 text-center">
		                            <i class="fa fa-usd"></i>
		                            <p class="text-muted mb-2">Cost</p>
		                            <h6>${{a.adv_cost}}</h5>
		                        </div>
		                    </div> 
		                    <!-- End quick look info -->
		                </div>
		            </div>

				{% endfor %}
				</main>
			</div>
		</div>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		<script src="https://use.fontawesome.com/e6957f2144.js"></script>

	</body>
</html>


